.contenido {
    width:480px;
    margin:20px auto 0;
}

.calculator {
    width:480px;
    height:auto;
    padding:10px 0;
    margin: auto;
    border:#ccc 1px solid;
    border-radius:7px;
    -webkit-border-radius:7px;
     -moz-border-radius:7px;
     box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     -webkit-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     -moz-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EEEEEE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
     overflow: hidden;
     text-align: center;
}

.screen {
     width:424px;
     height:93px;
    margin: 12px auto 30px;
     padding:15px 20px;
     color:#3b5e5f;
     text-align: right;
     font-size: 3em;
     letter-spacing: 3px;
     overflow:hidden;
     border:#ddd 1px solid;
     border-radius:7px;
     -webkit-border-radius:7px;
     -moz-border-radius:7px;
     box-shadow:inset rgba(190,230,230,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
     -webkit-box-shadow:inset rgba(190,230,230,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
     -moz-box-shadow:inset rgba(190,230,230,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
    
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FEFEFE 0%, #DAEDEC 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FEFEFE 0%, #DAEDEC 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FEFEFE 0%, #DAEDEC 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #DAEDEC));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #DAEDEC 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FEFEFE 0%, #DAEDEC 100%);
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
}

.botonesCal {
     padding:0;
     width:423px;
     margin:auto;
     overflow: hidden;
     list-style: none;
}
.botonesCal li {
     display:inline;
     float:left;
     padding:0px;
     margin-right:13px;
     margin-bottom:10px;
}
.botonesCal li:nth-child(4n) {
     margin-right:0;
}

.botonesCal a{
     display:block;
     width:95px;
     height:68px;
     padding:18px 0 12px;
     color:#666 !important;
     font-family: "Myriad Pro", Arial, sans-serif;
     font-size:1.6em;
     font-weight: 500;
    letter-spacing: -1px;
    background-color:#2f2f2f;
     border: #ddd 1px solid;
     border-radius:5px;
     -webkit-border-radius:5px;
     -moz-border-radius:5px;
     text-align: center;
     text-decoration: none;
    text-shadow:#fff 0px -1px 0px;
     box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
     -webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
     -moz-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FEFEFE 0%, #EDEDED 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FEFEFE 0%, #EDEDED 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FEFEFE 0%, #EDEDED 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #EDEDED));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #EDEDED 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FEFEFE 0%, #EDEDED 100%);
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
     cursor: pointer;
}
.botonesCal a:active{
     box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FEFEFE 0%, #EDEDED 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FEFEFE 0%, #EDEDED 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FEFEFE 0%, #EDEDED 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FEFEFE), color-stop(1, #EDEDED));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FEFEFE 0%, #EDEDED 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FEFEFE 0%, #EDEDED 100%);
}
.tall{height:151px !important;}
.wide{width:205px !important;}
.shift{margin-top:-78px;}

.ctrls{
 list-style: none;
 margin:5px 0 0 20px;
 padding:0;
 position: absolute;
}
.ctrls li{
 float:left;
 display:inline;
}
.ctrls li a{
 display: block;
 width:18px;
 height:18px;
 margin-right:10px;
 border-radius:100%;
 box-shadow:rgba(255,255,255,0.3) 0px 0px 1px, inset rgba(0,0,0,1) 0px 1px 2px 1px;
 background-image: -moz-radial-gradient( 9px -4px, #FFF 0px, #fff 2px, rgba(255,255,255,0) 4px), -moz-linear-gradient(bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
 background-image: -webkit-radial-gradient( 9px -4px, #FFF 0px, #fff 2px, rgba(255,255,255,0) 4px), -webkit-linear-gradient(bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
 background-image: radial-gradient( 9px -4px, #FFF 0px, #fff 2px, rgba(255,255,255,0) 4px), linear-gradient(bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}