/* FONT STACK */


/* BASE LAYOUT */




img {
	border: 0;
}

/* GENERAL */


.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

.centrado {
	margin: 0 auto;
	text-align: center;
}

/* NAVIGATION MENU */

.nav {

	padding: 0.5em 0.75em;

	zoom: 1;
}

.nav-tabs {
border-bottom: dotted 2px #ccc !important;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #888;
	outline: none;
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}
.margen_center {
	margin: 0 auto !important;
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}


ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 1.2em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {	
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
		border: 2px solid #FFF;
	background-color: #fff;
}

th {
	background: #ff9f00;
	color: #4b3510;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
	text-align: center;
	vertical-align: middle;
}


/* CARGADOR */
#noTrespassingOuterBarG{
height:20px;
width:160px;
border:1px solid #01a8ad;
overflow:hidden;
background-color:#FFFFFF}

.noTrespassingBarLineG{
background-color:#01a8ad;
float:left;
width:14px;
height:120px;
margin-right:24px;
margin-top:-28px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.noTrespassingAnimationG{
width:236px;
-moz-animation-name:noTrespassingAnimationG;
-moz-animation-duration:0.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:noTrespassingAnimationG;
-webkit-animation-duration:0.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:noTrespassingAnimationG;
-ms-animation-duration:0.7s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:noTrespassingAnimationG;
-o-animation-duration:0.7s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:noTrespassingAnimationG;
animation-duration:0.7s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

#noTrespassingFrontBarG{
}

@-moz-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-webkit-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-ms-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-o-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}





/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: #00a7ab;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
	padding-left: 36px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}
